body {
    font-family: 'Open Sans', sans-serif;
    background-color: lightgrey;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

#message-container {
    border: 5px solid grey;
    padding: 5px;
}